header {
  position: fixed;
  text-align: center;
  padding: 5px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #60989c;
}
header h1 {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 30px;
  border: 2px solid white;
  color: #9ed7db;
}

.logo {
  position: relative;
  margin-right: 10px;
  float: center;
  top: 15px;
}

body {
  background-color: #99c7ca;
}
.banner {
  position: relative;
  max-width: 100%;
}

.banner .welcome {
  position: absolute;
  padding: 3px;
  top: 50%;
  left: 5%;
  font-size: 25px;
  color: #ffffff;
  background: #bfdddfaf;
}
.line {
  position: absolute;
}
.banner .News {
  position: absolute;
  padding: 3px;
  top: 30%;
  left: 0;
  font-size: 30px;
}
.banner .facts {
  position: absolute;
  padding: 3px;
  top: 30%;
  left: 0;
  font-size: 30px;
}
.banner .aboutus {
  position: absolute;
  padding: 3px;
  top: 30%;
  left: 0;
  font-size: 30px;
}
.banner .home {
  position: absolute;
  padding: 3px;
  top: 30%;
  left: 0;
  font-size: 30px;
}
nav {
  position: sticky;
  padding: 15px;
  top: 40px;
  z-index: 1;
  background: #60989c;
}

nav ul {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
}

nav li {
  width: 30%;
  font-size: 26px;
  display: inline-block;
}

nav li a {
  color: #87e7eb;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}
